:root {
  --abad-gold: #fdb614;
}
.courses-page {
  .courses-preview-mode {
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    svg {
      color: #0f1416;
    }
    > h3 {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 700;
      color: #1e1e1e;

      @media (min-width: 768px) {
        font-size: 2.25rem;
        line-height: 2.5rem;
      }
    }
    > ul {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      li {
        padding: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }
    &.active {
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(#1b45b4 100%, #1c2792 100%);
      svg {
        color: white;
      }
    }
  }
  .courses-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    justify-content: center;
    gap: 28px;
    figure {
      padding: 20px;
      margin: 0 auto;
      box-shadow: 4.74px 3.79px 28.43px 0px rgba(0, 0, 0, 0.051);
      width: 100%;
      max-width: 350px;
      .img {
        img {
          width: 100%;
          max-width: 300px;
          margin: 0 auto;
        }
      }
      figcaption {
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        h4 {
          color: #3f3e43;
          font-size: 14px;
          font-weight: 500;
        }
        .course-date {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          font-weight: 300;
          color: #3f3e43;
          div {
            display: flex;
            align-items: center;
            gap: 8px;
          }
          padding-bottom: 12px;
          border-bottom: 1.01px solid rgba(0, 0, 0, 0.102);
        }
        > p {
          font-size: 12px;
          font-weight: 300;
          word-spacing: 2px;
          line-height: 1.75;
          max-width: 284px;
          color: #8a8394;
        }
        .course-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: bold;
          p:nth-child(1) {
            /* #5BB6D21A */
            background-color: rgba(91, 182, 210, 0.102);
            border-radius: 4px;
            padding: 8px;
            font-size: 12px;
            color: #1b45b4;
          }
          p:nth-child(2) {
            color: var(--abad-gold);
          }
        }
        .course-attend {
          font-size: 10px !important;
          font-weight: 500;
          display: flex;
          gap: 12px;
          span {
            display: flex;
            align-items: center;
            gap: 3px;
          }
          span.online {
            color: #0dc00d;
          }
          span.in-person {
            color: #df2121;
          }
          span:nth-child(2) {
            color: #1b45b4;
          }
        }
      }
    }
  }
  .search-filter {
    button {
      background-clip: text;
      color: transparent;
      background-image: linear-gradient(
        83.79deg,
        #1b45b4 3.25%,
        #1c2792 96.85%
      );
    }
    h3,
    h4 {
      color: #151318;
    }
    label {
      font-family: "Noto Sans Arabic", sans-serif;
      color: #8a8394;
      font-size: 14px;
      font-weight: 500;
    }
    .courses-form-filter{
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  table {
    border-spacing: 0 10px;
    border-collapse: separate;
    td,
    th {
      display: block;
      padding: 2px;
      font-size: 12px;
      font-weight: bold;
      color: #3f3e43;
      border: 1px solid transparent;
      &.course-name {
        padding-top: 4px;
        font-size: 13px;
        display: flex;
        font-weight: 500;
        flex-direction: column;
        > div {
          order: 1;
          font-size: 12px;
          display: flex;
          gap: 12px;
          span {
            display: flex;
            align-items: center;
            gap: 3px;
          }
          span:nth-child(1) {
            color: #6EA641;
          }
          span:nth-child(2) {
            font-size: 12px;
            color: #1b39a6;
          }
        }
        > p {
          order: 2;
        }
        @media (min-width: 768px) {
          font-size: 14px;
          > div {
            order: 2 !important;
            font-size: 14px;
          }
          p {
            order: 1 !important;
          }
        }
      }
      &.course-start-date {
        display: none;
      }
      @media (min-width: 768px) {
        display: table-cell;
        padding: 14px !important;
        &.course-start-date {
          display: table-cell;
        }
      }
    }
    td:nth-child(3),
    td:nth-child(2) {
      font-size: 12px;
      font-weight: 400;
      @media (min-width: 768px) {
        font-weight: 500;
      }
    }
    .btns {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 10px;
      font-weight: 500;
      @media (min-width: 768px) {
        font-size: 12px;
      }
      button {
        padding: 6px 12px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 8px;
      }
      a:nth-child(1) button {
        background-color: #f6f6f6;
      }
      a:nth-child(2) button {
        background-color: #f0f6ec;
        color: #6ea641;
      }
    }
  }
  table td {
    font-size: 14px;
  }
  nav {
    li {
      padding: 4px 6px;
      transition: 0.3s;
      button {
        display: flex;
        align-items: center;
        gap: 3px;
        div {
          svg {
            width: 17px;
            height: 17px;
          }
        }
      }
      @media (min-width: 768px) {
        padding: 8px;
        button {
          gap: 10px;
          svg {
            width: 24px;
            height: auto;
          }
        }
      }

      border-radius: 20px;
      color: #9891a3;
      &.active {
        button {
          div {
            background-color: transparent;
          }
        }
        color: white;
        background-color: var(--abad-gold);
      }
    }
  }
  .show-all {
    background: linear-gradient(to right, #1b45b4, #1c2792);
  }

  .courses-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    justify-content: center;
    gap: 32px;
    figure {
      padding: 24px;
      box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
      width: 100%;
      .img {
        img {
          width: 100%;
          max-width: 300px;
        }
      }
      figcaption {
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        h4 {
          color: #3f3e43;
          font-size: 14px;
          font-weight: 500;
        }
        .course-date {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          font-weight: 400;
          color: #3f3e43;
          div {
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
        > p {
          font-size: 12px;
          font-weight: 400;
          max-width: 284px;
          color: #8a8394;
        }
        .course-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: bold;
          p:nth-child(1) {
            /* #5BB6D21A */
            background-color: #5bb6d21a;
            border-radius: 4px;
            padding: 8px;
            color: #1b45b4;
          }
          p:nth-child(2) {
            color: var(--gold);
          }
        }
      }
    }
  }
}
.hero {
  position: relative;
  .intro {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}