.hero {
  position: relative;
  height: 100vh;
  .intro {
    left: 50%;
    top: 50%;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transform: translate(-50%, -50%);
    color: white;
    width: max-content;
    max-width: 100%;
    padding: 0px 16px;
    > h2 {
      font-size: 1.5rem /* 24px */;
      line-height: 2rem /* 32px */;
      font-weight: 500;
      span:nth-of-type(2) {
        white-space: nowrap;
        color: var(--abad-gold);
      }
      @media (min-width: 640px) {
        max-width: fit-content;
      }
    }
    > h4 {
      font-size: 0.875rem /* 14px */;
      line-height: 1.5rem /* 20px */;
      font-weight: 400;
      max-width: 650px;
      @media (min-width: 768px) {
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
      @media (min-width: 640px) {
        padding: 28px 0;
      }
    }
    > a {
      display: flex;
      padding: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      gap: 1.25rem;
      align-items: center;
      border-radius: 0.75rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: #000000;
      @media (min-width: 768px) {
        font-size: 1rem;
        line-height: 1.5rem;
      }
      background-color: var(--abad-gold);
      span {
        font-weight: 500;
      }
      svg {
        color: #000000;
        transform: rotate(180deg);
      }
    }
  }
  .back-shape {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -10;
    overflow: hidden;
    .first {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .second {
      width: 80px;
      position: absolute;
      top: 8vh;
      right: 0;
    }
  }
  @media (min-width: 768px) {
    min-height: 600px;
    height: auto;
    .intro {
      h2 {
        font-size: 1.875rem /* 30px */;
        line-height: 2.25rem /* 36px */;
      }
    }
    .back-shape {
      min-height: 600px;
      height: auto;
      .first {
        height: auto;
        min-height: 600px;
      }
      .second {
        width: 9rem /* 144px */;
        top: 10vh;
      }
    }
  }
  @media (min-width: 1024px) {
    .intro {
      h2 {
        font-size: 2.25rem /* 36px */;
        line-height: 2.5rem /* 40px */;
      }
    }
  }
  @media (min-width: 1280px) {
    .intro {
      h2 {
        font-size: 3rem /* 48px */;
        line-height: 1;
      }
      h4 {
        font-size: 1.5rem /* 24px */;
        line-height: 2rem /* 32px */;
        line-height: 2.5rem;
      }
    }
  }
}