.course-details {
  figure {
    a {
      padding: 14.5px 29px;
      border-radius: 90px;
      font-size: 14px;
      font-weight: 700;
      color: white;
      display: inline-block;
      background: linear-gradient(83.79deg, #1b45b4 3.25%, #1c2792 96.85%);
      @media (min-width: 768px) {
        padding: 16px 32px;
        font-size: 16px;
        border-radius: 100px;
      }
    }

    .action-btns {
      button {
        border: 1px solid #32bca3;
        padding: 14.5px 29px;
        color: #32bca3;
        font-size: 14px;
        font-weight: 700;
        border-radius: 90px;
      }
      button:nth-child(2) {
        padding: 16px;
        border-radius: 50%;
      }
      @media (min-width: 768px) {
        button:nth-child(1) {
          padding: 16px 32px;
          font-size: 16px;
          border-radius: 100px;
        }
        button:nth-child(2) {
          padding: 18px;
        }
      }
    }
  }
}