/* ROBOTO font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");
/* CAIRO font */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cairo-font {
  font-family: "Cairo", sans-serif;
}
/* ROBOTO aka noto classes */
.noto {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* BUKRA font */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "29lt-Bukra";
  font-style: normal;
  font-weight: 300;
  src: url("/bukra/29LT-Bukra-Light-3.OTF") format("opentype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ woff2*/
}
/* BUKRA-regular*/
@font-face {
  font-display: swap;
  font-family: "29lt-Bukra";
  font-style: normal;
  font-weight: 400;
  src: url("/bukra/29LT-Bukra-Regular-3.OTF") format("opentype");
}
/* BUKRA-500  */
@font-face {
  font-display: swap;
  font-family: "29lt-Bukra";
  font-style: normal;
  font-weight: 500;
  src: url("/bukra/29LT-Bukra-Medium-2.otf") format("opentype");
}
/* BUKRA-700  */
@font-face {
  font-display: swap;
  font-family: "29lt-Bukra";
  font-style: normal;
  font-weight: 700;
  src: url("/bukra/29LT-Bukra-Bold-2.OTF") format("opentype");
}
body {
  font-family: "29lt-Bukra";
  display: flex;
  letter-spacing: -0.01rem;
  flex-direction: column;
  min-height: 100dvh;
  position: relative;
  justify-content: space-between;
  main{
    .hero {
      position: relative;
      .intro {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.abad-shadow {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.article-tag {
  font-family: "Noto Sans Arabic", sans-serif;
  border-radius: 16px;
  padding: 4px 15px;
  color: white;
  width: fit-content;
  position: absolute;
  left: 16px;
  bottom: 12px;
}
.article-tag-black {
  background-color: #1e1e1e;
}
.article-tag-blue {
  background-color: #2241cf;
}
.article-tag-yellow {
  background-color: #edb423;
}
img{
  user-select: none;
}
.word-spacing{
  /* word-spacing: 3px; */
  font-weight: 300;
}
.abad-drop-shadow{
  box-shadow: 5px 4px 30px 0px #00000014;

}
