:root {
  --abad-gold: #fdb614;
}
main {
  .hero {
    position: relative;
    .intro {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .home-courses {
    .courses-preview-mode {
      color: #0f1416;
      svg {
        color: #0f1416;
      }
      &.active {
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(#1b45b4 100%, #1c2792 100%);
        svg {
          color: white;
        }
      }
    }
    .search-filter {
      button {
        background-clip: text;
        color: transparent;
        background-image: linear-gradient(
          83.79deg,
          #1b45b4 3.25%,
          #1c2792 96.85%
        );
      }
      h3,
      h4 {
        color: #151318;
      }
      label {
        font-family: "Noto Sans Arabic", sans-serif;
        color: #8a8394;
        font-size: 14px;
        font-weight: 500;
      }
    }
    table {
      border-spacing: 0 3px;
      border-collapse: separate;
      td{
        color: #3f3e43;
      }
      th{
        color: white;
      }
      td,
      th {
        display: block;
        padding: 2px;
        font-size: 12px;
        font-weight: 500;
        border: 1px solid transparent;
        &.course-name {
          padding-top: 4px;
          font-size: 13px;
          display: flex;
          font-weight: 500;
          flex-direction: column;
          > div {
            order: 1;
            font-size: 10px !important;
            display: flex;
            gap: 12px;
            span {
              display: flex;
              align-items: center;
              gap: 3px;
              color: #DF2121;
            }
            span:nth-child(2) {
              color: #1b39a6;
            }
          }
          > p {
            order: 2;
          }
          @media (min-width: 768px) {
            font-size: 14px;
            > div {
              order: 2 !important;
              font-size: 14px;
            }
            p {
              order: 1 !important;
            }
          }
        }
        &.course-start-date {
          display: none;
        }
        @media (min-width: 768px) {
          display: table-cell;
          padding: 16px !important;
          &.course-start-date {
            display: table-cell;
          }
        }
      }
      td:nth-child(3),
      td:nth-child(2) {
        font-size: 12px;
        font-weight: 400;
        @media (min-width: 768px) {
          font-weight: 500;
        }
      }
      .btns {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 10px;
        font-weight: 500;
        button {
          padding: 6px 12px;
          border-radius: 4px;
          display: flex;
          align-items: center;
          gap: 8px;
        }
        >*{
          flex: 1;
          >*{
            width: 100%;
            justify-content: center;
          }
        }
        @media (min-width: 768px) {
          font-size: 12px;
          >*{
            flex: auto;
          }
        }
        
        a:nth-child(1) button {
          background-color: #FDB614;
          color: black;
        }
        div:nth-child(2) button {
          background: linear-gradient(83.79deg, #1B45B4 3.25%, #1C2792 96.85%);
          color: white;
        }
      }
    }
    table td {
      font-size: 14px;
    }
    nav {
      li {
        padding: 4px 6px;
        transition: 0.3s;
        button {
          display: flex;
          align-items: center;
          gap: 3px;
          div {
            svg {
              width: 17px;
              height: 17px;
            }
          }
        }
        @media (min-width: 768px) {
          padding: 8px;
          button {
            gap: 10px;
            svg {
              width: 24px;
              height: auto;
            }
          }
        }

        border-radius: 20px;
        color: #9891a3;
        &.active {
          button {
            div {
              background-color: transparent;
            }
          }
          color: white;
          background-color: var(--abad-gold);
        }
      }
    }
    > .show-all {
      background: linear-gradient(to right, #1b45b4, #1c2792);
    }
    .courses-cards {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
      justify-content: center;
      gap: 32px;
      figure {
        padding: 24px;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05),
          0 1px 2px rgba(0, 0, 0, 0.05);
        width: 100%;
        .img {
          img {
            width: 100%;
            max-width: 300px;
          }
        }
        figcaption {
          padding-top: 16px;
          display: flex;
          flex-direction: column;
          gap: 16px;
          h4 {
            color: #3f3e43;
            font-size: 14px;
            font-weight: 500;
          }
          .course-date {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 400;
            color: #3f3e43;
            div {
              display: flex;
              align-items: center;
              gap: 8px;
            }
          }
          > p {
            font-size: 12px;
            font-weight: 400;
            max-width: 284px;
            color: #8a8394;
          }
          .course-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;
            p:nth-child(1) {
              /* #5BB6D21A */
              background-color: #5bb6d21a;
              border-radius: 4px;
              padding: 8px;
              color: #1b45b4;
            }
            p:nth-child(2) {
              color: var(--gold);
            }
          }
        }
      }
    }
  }
  .plan {
    .cards {
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        border-radius: 12px;
        text-align: center;
        background-color: white;
        padding: 20px 14px;
        width: 210px;
        margin: auto;
        .img {
          border-radius: 50%;
          padding: 18px;
          background-color: #fff2ec;
          width: fit-content;
        }

        figcaption {
          h4 {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 6px;
          }
          p {
            font-size: 15px;
            line-height: 1.5;
          }
        }
      }
    }
  }
  .reviews {
    .cards {
      .cards-wrapper {
        .card {
          padding: 20px;
          .card-wrapper {
            padding: 20px;
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 12px;
            .review-details {
              display: flex;
              align-items: center;
              gap: 8px;
              font-family: "Noto Sans Arabic", sans-serif;
              h4 {
                font-size: 18px;
                font-weight: bold;
                color: #1e1e1e;
              }
              p {
                font-size: 14px;
              }
            }
            .review-text {
              color: #172327;
              font-size: 15px;
              line-height: 1.6;
              font-weight: 400;
            }
            .review-stars {
              display: flex;
              align-items: center;
              img {
                width: fit-content;
              }
              gap: 18px;
            }
          }
        }
      }
    }
    .reviewsBtn {
      cursor: pointer;
    }
    .swiper1-btn {
      width: 40px;
      height: 40px;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      &::before,
      &::after {
        content: "";
        z-index: -1;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      &::before {
        background: linear-gradient(to right, #1c2792, #1b45b4);
        transition: 0.3s;
        opacity: 1;
      }
      &::after {
        background: linear-gradient(to right, #29317e, #2a4ba7);
        opacity: 0;
      }
      &.animate-review-btn {
        &::before {
          animation: reduceOpacityAni 0.3s;
        }
        &::after {
          animation: growOpacityAni 0.3s;
        }
      }
      @keyframes growOpacityAni {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      @keyframes reduceOpacityAni {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
      &:focus-within {
        /* transition: 1s;
         background: #1e1e1e80; */
      }
    }
  }
  .articles {
    article {
      /* padding: 12px; */
      /* max-width: 320px; */
      margin: 0 auto;
      /* @media (min-width: 767px) {
        width: 32%;
      } */
      .article-wrapper {
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
        img {
          width: 100%;
        }
        > div:nth-child(2) {
          padding: 12px;
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding-bottom: 20px;
          p {
            font-family: "Noto Sans Arabic", sans-serif;
            color: #172327;
          }
          h3 {
            font-size: 18px;
            color: #1e1e1e;
            font-weight: 500;
          }
        }
      }
    }
  }
  /* index page */
  .contact {
    form {
      .input {
        .placeholder {
          position: absolute;
          right: 48px;
          top: 50%;
          transform: translateY(-50%);
          transition: 0.3s;
          pointer-events: none;
        }
        input {
          flex: 1;
          color: white;
        }
        input:focus::placeholder {
          display: none;
        }
        input:not(:placeholder-shown) + span,
        input:focus + span {
          font-size: 10px;
          transform: translateY(-170%) !important;
        }
      }
    }
  }
  /* contact page */
}
