header {
  nav {
    z-index: 2;
    width: 90%;
    position: relative;
    background-color: transparent;
    & a {
      white-space: nowrap;
    }
    .nav-list {
      top: 100%;
      left: 0;
    }
    .nav-list-drop {
      border-radius: 20px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      & li {
        margin: 20px 0;
      }
    }
  }
  .mini-nav{
    background-color: white;
    color: black;
    border-radius: 10px;
    li{
      padding: 12px;
      display: flex;
      gap: 4px;
      align-items: center;
      a{
        display: flex;
      align-items: center;
      gap: 4px;
      }
    }
    li:not(:nth-last-child(1)){
      border: 1px solid #E2E2E2
    }
  }
  .courses-nav{
    ul{
      li:not(:nth-last-child(1)){
        border: 0;
        border-bottom: 1px solid #EFEFEF !important;
      }
    }
  }
  ul.right-corner{
    border-top-right-radius: 0;
  }
  ul.left-corner{
    border-top-left-radius: 0;
  }
}
.header-contact-bar{
  a{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
  }
  @media (min-width:640px) {
    font-size: 18px;
  }
  a:nth-child(1){
    @media (max-width:639px) {
      display: none;
    }
  }
}
.no-padding{
  padding: 0 !important;
}
.courses-nav-1{
  >li{
    padding: 0 !important;
    button{
      padding: 12px;
    }
  }
}